[Desktop Entry]
Name=RecVid
Comment=Запис на екрана и системния звук
Exec=/home/$USER/bin/recvid.sh
Icon=recvid-icon
Terminal=false
Type=Application
Categories=AudioVideo;Video;
StartupNotify=true
